<main class="form-signin">
  <form>
    <h1 class="h3 mb-3 fw-normal">{{ this.routingName }}</h1>
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput" placeholder="Benutzername">
      <label for="floatingPassword">Benutzername</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Passwort">
      <label for="floatingPassword">Passwort</label>
    </div>

    <div class="checkbox mb-3" *ngIf="this.routingName === 'Anmelden'">
      <label>
        <input type="checkbox" value="remember-me"> Angemeldet Bleiben
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-outline-dark" type="submit">{{ this.routingName }}</button>
  </form>
</main>
