@import "src/styles/styles";

html,
body {
  height: 100%;
}

h2 {
  color: $color-primary;
  text-align: center;
}

.btn {
  color: $bg-a;
  background-color: $color-primary;
  width: 100%;
}

.input-item {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 0;
  color: $text;
  background-color: $bg;
  margin-bottom: 15px;
}

.form-signin {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 0;
  color: $text;
}

.form-signin .checkbox {
  font-weight: 400;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  height: 100%;
  width: 100%;
  position: relative;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}
