@import "../../../styles/styles";

.list-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  opacity: 75%;
  background: $bg;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}

.toolbar {
  display: flex;
  width: 100%; 
  height: 5rem;
  align-items: center;
}

.list {
  display: flex;
  width: 100%; 
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}

.btn {
  font-size: 1.5rem;
  width: 3rem;
  height: 3rem;
}

.toolbar-item {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 3rem;
  margin: 1rem;
  border: 0;
  margin-right: 0;
  &.last {
    margin-right: 1rem;
  }
}
.drop-down-button {
  width: 100%;
  height: 100%;
  border: none;
  text-align: left;
}

.item {
  max-width: 50%;
  min-width: 50%;
  padding: 1rem;
  max-height: 10rem;
}

.search {
  width: 75%;
}

.sort {
  width: 25%;
}

ngb-pagination ::ng-deep ul > li:not(.active) > a {
  color: $dark !important;
}

ngb-pagination ::ng-deep ul > li.active > a {
  background-color: $dark !important;
  border-color: $dark !important;
}
