<svg [ngClass]='color' viewBox="0 0 163 93" fill="none" xmlns="http://www.w3.org/2000/svg" (mouseenter)='changeColor()'>
  <rect x="4" y="4" width="155" height="85" rx="16" stroke="currentColor" stroke-width="8"/>
  <circle cx="31" cy="29" r="15" fill="currentColor"/>
  <line x1="54" y1="21.5" x2="123" y2="21.5" stroke="currentColor" stroke-width="7"/>
  <line x1="54" y1="35.5" x2="123" y2="35.5" stroke="currentColor" stroke-width="7"/>
  <line x1="54" y1="49.5" x2="123" y2="49.5" stroke="currentColor" stroke-width="7"/>
</svg>
