<div style='height: 90vh'>
  <div *ngIf='familyTree'>
    <div class='pb-1 tree-name-heading'>
      Stammbaum: {{familyTree.name}}
    </div>
    <button class='btn btn-dark m-1' (click)='openCreateMenu()'>
      <i class="bi bi-plus-lg"></i> Person Hinzufügen
    </button>
    <hr>
  </div>
  <div id='tree-container' style='height: 80%;'>
    <ngx-graph
      *ngIf='familyTree'
      [layoutSettings]="{orientation: 'TB'}"
      [layout]='graphManager.layout'
      [links]='graphManager.edges'
      [nodes]='graphManager.nodes'
      [showMiniMap]='true'
      [draggingEnabled]='false'
      [curve]='graphManager.curve'
      class='graph'
      xmlns:svg='http://www.w3.org/2000/svg'
    >
      <ng-template #nodeTemplate let-node>
        <svg:g (dblclick)='dblClickEvent(node)' (mouseenter)='toggleTooltip(node)' (mouseleave)='toggleTooltip(node)'
               class='node'>
          <svg:rect
            [attr.fill]="'#fff'"
            [attr.height]='node.dimension.height'
            [attr.stroke]='node.data.customColor'
            [attr.width]='node.dimension.width'
            rx='10'
            stroke-width='2'
          />
          <svg:text
            [attr.x]='node.dimension.width / 2'
            [attr.y]='node.dimension.height / 2 + 5'
            alignment-baseline='central'
            text-anchor='middle'
          >
            {{node.label}}
          </svg:text>
          <svg:g *ngIf='node.data.toolTipActive'>
            <svg:rect
              [attr.fill]="'#6c6c6c'"
              [attr.height]='node.dimension.height'
              [attr.width]='node.dimension.width'
              rx='10'
            />
            <svg:text
              *ngIf='!node.data.deathDate'
              [attr.fill]="'#fff'"
              [attr.x]='node.dimension.width / 2'
              [attr.y]='node.dimension.height / 2 + 5'
              alignment-baseline='central'
              text-anchor='middle'
            >
              {{ '&#x2733;&#xFE0F; ' + node.data.birthDate}}
            </svg:text>
            <svg:text
              *ngIf='node.data.deathDate'
              [attr.fill]="'#fff'"
              [attr.x]='node.dimension.width / 2'
              [attr.y]='node.dimension.height / 2 - 3'
              alignment-baseline='central'
              text-anchor='middle'
            >
              <svg:tspan>{{ '&#x2733;&#xFE0F; ' + node.data.birthDate}}</svg:tspan>
              <svg:tspan [attr.x]='node.dimension.width / 2'
                         dy='1.2em'>{{ '&#x271D;&#xFE0F; ' + node.data.deathDate}}</svg:tspan>
            </svg:text>
          </svg:g>
        </svg:g>
      </ng-template>
    </ngx-graph>
  </div>
</div>
