<div class='card item'>
  <div class='d-flex p-2 card-body'>
    <div class='item-title'>
      <h4 class='title px-4'>
        <i class='bi bi-tree-fill'></i>
        {{ familyTree.name }}
      </h4>
    </div>
    <div class='border-left px-4' style='width: 50%;'>
      <p class='card-text item-info'>
        <i class='bi bi-people-fill'></i>
        {{ familyTree.persons.size }}
      </p>
      <p class='card-text item-info'>
        Last Changed: 10/02/2021 10:10:10
      </p>
    </div>
  </div>
</div>
