<div class='card item'>
  <div class='d-flex p-2 card-body'>
    <div class='item-title'>
      <h4 class='title px-4'>
        <i class='bi bi-tree-fill'></i>
        <span *ngIf='mode !== "edit"'>{{ familyTree.name }}</span>
        <span [formGroup]='updateNameForm'>
          <input *ngIf='mode === "edit"' formControlName='treeName' type='text' (change)='updateName()'>
        </span>
      </h4>
    </div>
    <div class='infobox px-4 d-flex' style='width: 50%;'>
      <div>
        <p class='card-text item-info'>
          <i class='bi bi-people-fill'></i>
          {{ familyTree.persons.size }}
        </p>
        <p class='card-text item-info'>
          Zuletzt Geändert: {{ getLastChanged() }}
        </p>
      </div>
      <div *ngIf='mode === "edit"' class='btn btn-outline-danger d-inline-flex align-items-center' (click)='delete.emit(familyTree.id)'>
        <i class='bi-trash-fill'></i>
      </div>
    </div>
  </div>
</div>
