<div id="outer">
  <div id="content-container">
    <div id="vision">
      <h1>The Vision</h1>
      <div>
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
        voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
        amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
        nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat,
        sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem
        ipsum dolor sit amet.
      </div>
    </div>
    <div id="graphic">
      <div class="layer">
        <app-node-graphic class="node" initColor="secondary"></app-node-graphic>
        <app-node-graphic class="node"></app-node-graphic>
      </div>
      <div class="layer">
        <app-node-graphic class="node"></app-node-graphic>
        <app-node-graphic class="node"></app-node-graphic>
        <app-node-graphic class="node" initColor="secondary"></app-node-graphic>
      </div>
      <div class="layer">
        <div class="node"></div>
        <app-node-graphic class="node"></app-node-graphic>
      </div>
    </div>
    <div id="waves">
      <app-wave-graphic></app-wave-graphic>
    </div>
  </div>
</div>
<div id="belowouter">
  <div id="how">
    <h1>How it was done</h1>
    <div>
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
      clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
      amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr sit amet.
    </div>
  </div>
    <h1  id="team">The Team</h1>
    <div id="teamimg"><img [src]="getPicPath()"></div>
</div>
