<div id="outer">
  <div id="content-container">
    <div id="vision">
      <h1>
        {{ 'howto.title' | translate }}
      </h1>
      <div>
        {{ 'howto.text1' | translate }}
        <a routerLink="/contact"> {{ 'howto.contact' | translate }}</a>
        {{ 'howto.text2' | translate }}
        <a (click)="scroll(target)" routerLink="/about">
          {{ 'howto.scroll' | translate }}</a
        >
      </div>
    </div>
    <div id="graphic">
      <div class="layer">
        <app-node-graphic class="node" initColor="secondary"></app-node-graphic>
        <app-node-graphic class="node"></app-node-graphic>
      </div>
      <div class="layer">
        <app-node-graphic class="node"></app-node-graphic>
        <app-node-graphic class="node"></app-node-graphic>
        <app-node-graphic class="node" initColor="secondary"></app-node-graphic>
      </div>
      <div class="layer">
        <div class="node"></div>
        <app-node-graphic class="node"></app-node-graphic>
      </div>
    </div>
    <div id="waves">
      <app-wave-graphic></app-wave-graphic>
    </div>
  </div>
</div>
<div id="belowouter">
  <div #target id="how">
    <h1 class="center">{{ 'howto.lowerTitle' | translate }}</h1>
    <div class="row">
      <div class="column">
        <div id="help" class="p-2">
          <h3>{{ 'howto.create' | translate }}</h3>
          <ol>
            <li>
              {{ 'howto.navigateTo' | translate }}
              <a routerLink="/trees">{{ 'navbar.mytrees' | translate }}</a
              >.
            </li>
            <li>
              {{ 'howto.press' | translate }} <i class="bi bi-plus-circle"></i>
              {{ 'howto.nameTrees' | translate }}
            </li>
            <li>{{ 'howto.createButton' | translate }}</li>
          </ol>
        </div>
        <div id="help" class="p-2">
          <h3>{{ 'howto.deleteRename' | translate }}</h3>
          <ol>
            <li>
              {{ 'howto.navigateTo' | translate }}
              <a routerLink="/trees">{{ 'navbar.mytrees' | translate }}</a
              >.
            </li>
            <li>
              {{ 'howto.press' | translate }} <i class="bi bi-pen-fill"></i>
              {{ 'howto.nameAndDelTrees' | translate }}
              <i class="bi bi-trash-fill"></i>
            </li>
          </ol>
        </div>
        <div id="help" class="p-2">
          <h3>{{ 'howto.export' | translate }}</h3>
          <ol>
            <li>{{ 'howto.navigateToTrees' | translate }}</li>
            <li>
              {{ 'howto.press' | translate }}
              <i class="bi bi-file-earmark-arrow-down"></i> button
            </li>
            <li>{{ 'howto.files' | translate }}</li>
            <li>
              {{ 'howto.choosePng' | translate }}
            </li>
            <li>
              {{ 'howto.chooseJson' | translate }}
            </li>
          </ol>
        </div>
        <div id="help" class="p-2">
          <h3>{{ 'howto.import' | translate }}</h3>
          <ol>
            <li>
              {{ 'howto.navigateTo' | translate }}
              <a routerLink="/trees">{{ 'navbar.mytrees' | translate }}</a
              >.
            </li>
            <li>
              {{ 'howto.press' | translate }}
              <i class="bi bi-file-earmark-arrow-up"></i> button
            </li>
            <li>{{ 'howto.selectJson' | translate }}</li>
            <li>{{ 'howto.nowAgain' | translate }}</li>
          </ol>
        </div>
      </div>
      <div class="column">
        <div id="help" class="p-2">
          <h3>{{ 'howto.addPerson' | translate }}</h3>
          <ol>
            <li>{{ 'howto.navigateToTrees' | translate }}</li>
            <li>
              {{ 'howto.press' | translate }}
              <i class="bi bi-plus-circle"></i> button
              {{ 'howto.fillOut' | translate }}
            </li>
            <li>
              {{ 'howto.addButton' | translate }}
            </li>
            <li>
              {{ 'howto.continue' | translate }}
            </li>
          </ol>
        </div>
        <div id="help" class="p-2">
          <h3>{{ 'howto.navigate' | translate }}</h3>
          <ol>
            <li>{{ 'howto.navigateToTrees' | translate }}</li>
            <li>
              {{ 'howto.ifClick' | translate }}
              <i class="bi bi-fullscreen-exit"></i>
              {{ 'howto.middleTree' | translate }}
            </li>
            <li>{{ 'howto.drag&drop' | translate }}</li>
            <li>
              {{ 'howto.zoom' | translate }}
            </li>
          </ol>
        </div>
        <div id="help" class="p-2">
          <h3>{{ 'howto.delEditPerson' | translate }}</h3>
          <ol>
            <li>{{ 'howto.navigateToTrees' | translate }}</li>
            <li>{{ 'howto.doubleClick' | translate }}</li>
            <li>
              {{ 'howto.propertys' | translate }}
            </li>
            <li>{{ 'howto.delPerson' | translate }}</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
