@import 'src/styles/styles';

.contact{
  padding: 5%;
  top: 5%;
  left: 5%;
  color: $text;
  font-size: 1.2rem;
  @include media-breakpoint-down(xxl) {
    font-size: 0.9rem;
  }
  h1 {
    font-weight: 400;
    font-size: 3rem;

    @include media-breakpoint-down(xxl) {
      font-size: 2.5rem;
    }

    @media (min-width: 1850px) {
      font-size: 4rem;
    }
  }
}

