<div id="outer">
  <div id="content-container">
    <div id="row" class="row">
      <div class="column1">
        <div id="content">
          <h1>The Team</h1>
          <div>
            If you want to reach out to one of us just send an e-mail to one of the
            following adresses:
            <ul>
              <li>s_fichtmann19@stud.hwr-berlin.de</li>
              <li>s_ernst19@stud.hwr-berlin.de</li>
              <li>s_seifertc19@stud.hwr-berlin.de</li>
              <li>s_wagnere19@stud.hwr-berlin.de</li>
            </ul>
            <div>
              If you just want to give us a quick feedback. It would really help
              if you could check out this
              <a href="https://google.com" target="_blank">summary</a>.
            </div>
          </div>
        </div>
      </div>
      <div class="column2">
        <div id="teamimg"><img [src]="getPicPath()" /></div>
      </div>
    </div>
    <div id="waves">
      <app-wave-graphic></app-wave-graphic>
    </div>
  </div>
</div>
