<div id="outer">
  <div id="content-container">
    <div class="contact">
      <div id="content">
        <h1>{{'contact.contact' | translate}}</h1>
        <div>
          {{'contact.reachOut' | translate}} <br />
          <ul>
            <li>s_fichtmann19@stud.hwr-berlin.de</li>
            <li>s_ernst19@stud.hwr-berlin.de</li>
            <li>s_seifertc19@stud.hwr-berlin.de</li>
            <li>s_wagnere19@stud.hwr-berlin.de</li>
          </ul>
          <div>
            {{'contact.feedback' | translate}}
            <a href="https://forms.gle/THW5EG5ZT4aPxPp7A" target="_blank"
              >{{'contact.survey' | translate}}</a
            >.
          </div>
        </div>
      </div>
    </div>
    <div id="waves">
      <app-wave-graphic></app-wave-graphic>
    </div>
  </div>
</div>
