/* You can add global styles to this file, and also import other style files */
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "colors";

* {
  font-family: 'Poppins', serif;
}

.bi::before {
  vertical-align: -.125em !important;
}

.content {
  height: calc(100% - 122px);
  background-color: $bg;
  padding: 0 !important;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $gray-200;
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $gray-500;
  border-radius: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $dark;
}
