<div class='modal-header'>
  <h4 class='modal-title'>Update Person: {{person.firstName}} {{person.lastName}}</h4>
  <button (click)="activeModal.dismiss('Cross click')" aria-label='Close' class='close' type='button'>
    <span aria-hidden='true'>&times;</span>
  </button>
</div>
<div class='modal-body'>

  <form (ngSubmit)='onUpdatePerson()' [formGroup]='editPersonForm'>
    <div class='form-row nowrap'>
      <label class='m-1'>
        First Name:
        <input class='form-control' formControlName='firstName' placeholder='First Name' required type='text'>
      </label>
      <label class='m-1'>
        Last Name:
        <input class='form-control' formControlName='lastName' placeholder='Last Name' required type='text'>
      </label>
    </div>
    <div class='form-row nowrap'>
      <label class='m-1'>
        Gender:
        <select class='form-control' formControlName='gender' required>
          <option disabled selected value=''>Choose Gender</option>
          <option *ngFor='let gender of genders; index as i' [ngValue]='i'>{{gender}}</option>
        </select>
      </label>
      <label class='m-1'>
        Birth Date:
        <input class='form-control' formControlName='birthDate' required type='date'>
      </label>
      <label class='m-1'>
        Death Date:
        <input [min]='editPersonForm.controls.birthDate.value' class='form-control' formControlName='deathDate'
               type='date'>
      </label>
    </div>
    <div class='form-row nowrap'>
      <label class='m-1'>
        Children:
        <select class='form-control' formControlName='children' multiple>
          <option
            *ngFor='let child of possibleChildren'
            [ngValue]='child.id'
          >
            {{child.firstName + " " + child.lastName}}
          </option>
          <option *ngIf='possibleChildren.length === 0' disabled>
            No added person is a possible child
          </option>
        </select>
      </label>
    </div>
    <div class='form-row nowrap'>
      <button [disabled]="editPersonForm.status == 'INVALID'" class='btn btn-dark m-1' type='submit'>
        Update
      </button>
      <div (click)='onDeletePerson()' class='btn btn-danger m-1'>
        Delete Person
      </div>
    </div>
  </form>

</div>
<div class='modal-footer'>
  <button (click)="activeModal.close('Close click')" class='btn btn-outline-dark' type='button'>
    Close
  </button>
</div>
