<div class="modal-header">
  <h4 class="modal-title" *ngIf="isUpdateMode()">
    Edit person: {{ person?.firstName }} {{ person?.lastName }}
  </h4>
  <h4 class="modal-title" *ngIf="!isUpdateMode()">Add person</h4>
  <div (click)="activeModal.dismiss('Cross click')" aria-label='Close' class='btn close'>
    <i class='bi bi-x-lg'></i>
  </div>
</div>
<div class="modal-body">
  <form [formGroup]="editPersonForm">
    <div class="row nowrap">
      <label class="m-1 col">
        First Name: *
        <input
          class="form-control"
          formControlName="firstName"
          placeholder="First Name"
          required
          type="text"
        />
      </label>
      <label class="m-1 col">
        Last Name: *
        <input
          class="form-control"
          formControlName="lastName"
          placeholder="Last Name"
          required
          type="text"
          [ngbTypeahead]="searchLastNames"
        />
      </label>
    </div>
    <div class="row nowrap">
      <label class="m-1 col">
        Birthdate: *
        <div class="input-group">
          <input
            class="form-control"
            placeholder="TT.MM.JJJJ"
            formControlName="birthDate"
            ngbDatepicker
            #birth="ngbDatepicker"
            [minDate]="minBirthDate"
            [maxDate]="today"
            required
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary bi-calendar"
              (click)="birth.toggle()"
              type="button"
            ></button>
          </div>
        </div>
      </label>
      <label class="m-1 col">
        Death Date:
        <div class="input-group">
          <input
            class="form-control"
            placeholder="TT.MM.JJJJ"
            formControlName="deathDate"
            ngbDatepicker
            #death="ngbDatepicker"
            [minDate]="editPersonForm.controls.birthDate.value"
            [maxDate]="today"
          />
          <div class="input-group-append">
            <button
              class="btn btn-outline-secondary bi-calendar"
              (click)="death.toggle()"
              type="button"
            ></button>
          </div>
        </div>
      </label>
    </div>
    <div class="row nowrap">
      <label class="m-1 col">
        Gender: *
        <select class="form-select" formControlName="gender" required>
          <option selected disabled value="">choose a Gender</option>
          <option *ngFor="let gender of genders; index as i" [ngValue]="i">
            {{ gender }}
          </option>
        </select>
      </label>
      <label class="col m-1">
        Partner
        <select
          class="form-select"
          aria-label="Default select example"
          (change)="setSpouse($event)"
        >
          <option selected disabled>choose Partner</option>
          <option [value]="0"></option>
          <option
            [value]="spouse.id"
            *ngFor="let spouse of possibleSpouses"
            [selected]="spouse.id == selectedSpouse"
          >
            <span class="mx-2">
              {{ spouse.firstName }} {{ spouse.lastName }}
              <ng-container [ngSwitch]="spouse.gender.id">
                <ng-container *ngSwitchCase="0"
                  ><i class="bi bi-gender-male"></i
                ></ng-container>
                <ng-container *ngSwitchCase="1"
                  ><i class="bi bi-gender-female"></i
                ></ng-container>
                <ng-container *ngSwitchCase="2"
                  ><i class="bi bi-gender-ambiguous"></i
                ></ng-container>
                <ng-container *ngSwitchDefault></ng-container>
              </ng-container>
            </span>
          </option>
        </select>
      </label>
    </div>
    <div class="row nowrap">
      <div class="m-1 col mt-2">
        <app-child-selection
          [persons]="familyTree?.persons"
          [selectedPerson]="person"
          [isUpdateMode]="isUpdateMode()"
          [editPersonForm]="editPersonForm"
          (valueChange)="setChildren($event)"
          #childSelectionComponent
        ></app-child-selection>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <div class="form-check" *ngIf="!isUpdateMode()">
    <input
      class="form-check-input"
      type="checkbox"
      value=""
      id="addMore"
      [formControl]="addMoreCheckBox"
    />
    <label class="form-check-label" for="addMore"> Add more </label>
  </div>
  <button
    [disabled]="editPersonForm.status == 'INVALID'"
    class="btn outline m-1"
    (click)="isUpdateMode() ? onUpdatePerson() : onAddPerson()"
    type="button"
  >
    {{ isUpdateMode() ? 'Update' : 'Add' }}
  </button>
  <button
    *ngIf="isUpdateMode()"
    (click)="onDeletePerson()"
    class="btn btn-danger m-1"
    type="button"
  >
    Remove person
  </button>
  <button
    (click)="activeModal.close('Close click')"
    class="btn outline"
    type="button"
  >
    Close
  </button>
</div>
