<div *ngIf="stammbaum">
  <div class="pb-1 tree-name-heading">
    Tree: {{stammbaum.name}}
  </div>
  <form class="form-row" [formGroup]="addPersonForm" (ngSubmit)="onAddPerson()">
    <label class="m-1">
      First Name:
      <input class="form-control" formControlName="firstName" placeholder="First Name" type="text" required>
    </label>
    <label class="m-1">
      Last Name:
      <input class="form-control" formControlName="lastName" placeholder="Last Name" type="text" required>
    </label>
    <label class="m-1">
      Gender:
      <select class="form-control" formControlName="gender" required>
        <option value="" disabled selected>Choose Gender</option>
        <option *ngFor="let gender of genders; index as i" [ngValue]="i">{{gender}}</option>
      </select>
    </label>
    <label class="m-1">
      Birth Date:
      <input class="form-control" formControlName="birthDate" type="date" required>
    </label>
    <label class="m-1">
      Death Date:
      <input class="form-control" formControlName="deathDate" type="date"
             [min]="addPersonForm.controls.birthDate.value">
    </label>
    <button class="btn btn-dark m-1" type="submit" [disabled]="addPersonForm.status == 'INVALID'">Add</button>
  </form>
  <hr>
</div>

<div #graphContainer id="graphContainer" [hidden]="!stammbaum" ></div>
