<div id='outer'>
  <div id="content-container">
      <div id='text'>
        <h1>{{ 'landing-page.title' | translate }}</h1>
        <div>{{ 'landing-page.vision' | translate }}</div>
        <div>{{ 'landing-page.text' | translate }}</div>
      </div>
      <div id='graphic'>
        <div class='layer'>
          <app-node-graphic class='node' initColor='secondary'></app-node-graphic>
          <app-node-graphic class='node'></app-node-graphic>
        </div>
        <div class='layer'>
          <app-node-graphic class='node'></app-node-graphic>
          <app-node-graphic class='node'></app-node-graphic>
          <app-node-graphic class='node' initColor='secondary'></app-node-graphic>
        </div>
        <div class='layer'>
          <div class='node'></div>
          <app-node-graphic class='node'></app-node-graphic>
        </div>
      </div>
    <div id='waves'>
      <app-wave-graphic></app-wave-graphic>
    </div>
  </div>
</div>
