@import "../styles/styles";

.logo {
  padding-left: 20px;
  font-weight: 600;
  font-size: 30px;
}

.navbar-themed {
  background-color: $bg;
  color: $text;
  a {
    color: $text;
    font-weight: normal;
  }
}

.nav-item .bi {
  display: none;
}

.nav-item {
  padding-left: 12px;
  padding-right: 8px;
  position: relative;
}

.active-link .bi {
  color: $color-secondary;
  display: inline;
  left: 0;
  position: absolute;
}

.toggle {
  :hover {
    color: $text-secondary;
  }
}

.dropdown-toggle::after {
  display:none;
}

.theme-toggle {
  padding: 10px 15px;
  font-size: 20px;
}

.user-toggle {
  padding: 10px 15px;
  font-size: 24px;
}

#dropdown {
  right: 0;
  left: auto !important;
  background-color: $bg;
  border-color: $text-secondary;
  color: $text;
  .dropdown-item:hover {
    background-color: $hover;
  }
  .dropdown-item:focus {
    background-color: $hover;
  }
  .dropdown-item:active {
    background-color: $color-primary;
  }
}
