<nav class='navbar navbar-expand-lg navbar-themed'>
  <a class='navbar-brand' routerLink=''>
    <div class='align-middle logo'>
      famitry
    </div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class='collapse navbar-collapse' id='navbarSupportedContent'>
    <ul class='navbar-nav mr-auto'>
      <li class='nav-item'>
        <a class='nav-link' routerLink='/home' routerLinkActive="active-link">
          <i class="bi bi-caret-right-fill"></i>
          home
        </a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' routerLink='/about' routerLinkActive="active-link">
          <i class="bi bi-caret-right-fill"></i>
          about
        </a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' routerLink='/trees' routerLinkActive="active-link">
          <i class="bi bi-caret-right-fill"></i>
          my trees
        </a>
      </li>
      <li class='nav-item'>
        <a class='nav-link' routerLink='/howto' routerLinkActive="active-link">
          <i class="bi bi-caret-right-fill"></i>
          how to
        </a>
      </li>
    </ul>
    <div class='d-flex ms-auto me-2' ngbDropdown display='dynamic' placement='bottom-right'>
      <a class='nav-link toggle user-toggle' id='navbarDropdownMenuLink' ngbDropdownToggle>
        <i class='bi bi-person-fill'></i>
      </a>
      <div ngbDropdownMenu aria-labelledby='navbarDropdownMenuLink' id='dropdown'>
        <a ngbDropdownItem routerLink='/login' *ngIf='!auth.isAuthenticated()'>Login</a>
        <a ngbDropdownItem routerLink='/register' *ngIf='!auth.isAuthenticated()'>Register</a>
        <a ngbDropdownItem (click)='auth.logout()' *ngIf='auth.isAuthenticated()'>Logout</a>
      </div>
    </div>
    <div class='d-flex me-2 toggle theme-toggle' (click)='toggleTheme()'>
      <i [class]='"bi bi-" + getThemeIcon() + "-fill"'></i>
    </div>
  </div>
</nav>
<div class='container-fluid content'>
  <router-outlet></router-outlet>
</div>
