<div class="modal-header">
  <h4 class="modal-title">Update Person: {{person.firstName}} {{person.lastName}}</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <form [formGroup]="editPersonForm" (ngSubmit)="onUpdatePerson()">
    <div class="form-row nowrap">
      <label class="m-1">
        First Name:
        <input class="form-control" formControlName="firstName" placeholder="First Name" type="text" required>
      </label>
      <label class="m-1">
        Last Name:
        <input class="form-control" formControlName="lastName" placeholder="Last Name" type="text" required>
      </label>
    </div>
    <div class="form-row nowrap">
      <label class="m-1">
        Gender:
        <select class="form-control" formControlName="gender" required>
          <option value="" disabled selected>Choose Gender</option>
          <option *ngFor="let gender of genders; index as i" [ngValue]="i">{{gender}}</option>
        </select>
      </label>
      <label class="m-1">
        Birth Date:
        <input class="form-control" formControlName="birthDate" type="date" required>
      </label>
      <label class="m-1">
        Death Date:
        <input class="form-control" formControlName="deathDate" type="date"
               [min]="editPersonForm.controls.birthDate.value">
      </label>
    </div>
    <div class="form-row nowrap">
      <label class="m-1">
        Children:
        <select multiple class="form-control" formControlName="children" >
          <option
            *ngFor="let child of possibleChildren"
            [ngValue]="child.id">
            {{child.firstName + " " + child.lastName}}
          </option>
          <option *ngIf="possibleChildren.length === 0" disabled>
            No added person is a possible child
          </option>
        </select>
      </label>
    </div>
    <div class="form-row nowrap">
      <button class="btn btn-dark m-1" type="submit" [disabled]="editPersonForm.status == 'INVALID'">Update</button>
      <div class="btn btn-danger m-1" (click)="onDeletePerson()">Delete Person</div>
    </div>
  </form>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
</div>
