<div *ngIf="!stammbaum">
  <form class="form-row">
    <label class="m-1">
      Tree Name:
      <input class="form-control" type="text" #titleInput>
    </label>
    <button class="btn btn-dark m-1" type="submit" (click)='onCreateStammbaum(titleInput.value)'>Create</button>
  </form>
  <hr>
</div>
<div *ngIf="stammbaum">
  <form class="form-row" [formGroup]="addPersonForm" (ngSubmit)="onAddPerson()">
    <label class="m-1">
      First Name:
      <input class="form-control" formControlName="firstName" placeholder="First Name" type="text" required>
    </label>
    <label class="m-1">
      Last Name:
      <input class="form-control" formControlName="lastName" placeholder="Last Name" type="text" required>
    </label>
    <label class="m-1">
      Birth Date:
      <input class="form-control" formControlName="birthDate" type="date" required>
    </label>
    <label class="m-1">
      Death Date:
      <input class="form-control" formControlName="deathDate" type="date">
    </label>
    <button class="btn btn-dark m-1" type="submit" [disabled]="addPersonForm.status == 'INVALID'">Add</button>
  </form>
  <hr>
  <app-person-display class="m-1"
                      *ngFor="let person of stammbaum.persons"
                      [person]="person"
                      (deletePerson)="onDeletePerson($event)"></app-person-display>
</div>
