@import "src/styles/styles";

.card {
  background-color: $bg;
  border-color: $hover;
  height: auto;
  max-height: 320px;
}

.scrollable {
  height: auto;
  overflow-x: hidden;

  &.selection {
    max-height: 200px;
  }

  &.display {
    max-height: 230px;
  }
}

.clickable {
  cursor: pointer;
}

.flex-box {
  display: flex;
  align-content: center;
  flex-direction: row;
}
