<div class="card">
  <div class="card-body row">
    <div class="col">
      <p class="card-title">{{'children.children' | translate}}</p>
      <div class="card-text scrollable display">
        <div class="d-grid gap-2">
          <div
            *ngFor="let child of childrenOfPerson"
            class="p-2 border flex-box clickable"
            (click)="removeChild(child)"
          >
            <i class="bi bi-dash"></i>
            <span class="mx-2">{{ child.firstName }} {{ child.lastName }}</span>
            <ng-container [ngSwitch]="child.gender.id">
              <ng-container *ngSwitchCase="0"
                ><i class="bi bi-gender-male"></i
              ></ng-container>
              <ng-container *ngSwitchCase="1"
                ><i class="bi bi-gender-female"></i
              ></ng-container>
              <ng-container *ngSwitchCase="2"
                ><i class="bi bi-gender-ambiguous"></i
              ></ng-container>
              <ng-container *ngSwitchDefault></ng-container>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <p class="card-title">{{'children.possibleChildren' | translate}}</p>
      <div class="input-group input-group-sm my-2 search">
        <input
          (keyup)="onSearchInput($event)"
          type="text"
          class="form-control"
        />
        <i class="input-group-text bi bi-search bg-white"></i>
      </div>
      <div class="card-text scrollable selection">
        <div class="d-grid gap-2">
          <div *ngIf="editPersonForm?.invalid; else other">
            {{'children.fields' | translate}}
          </div>
          <ng-template #other>
            <div
              *ngFor="let person of possiblePersons"
              class="p-2 border flex-box clickable"
              (click)="addChild(person)"
            >
              <i class="bi bi-plus"></i>
              <span class="mx-2"
                >{{ person.firstName }} {{ person.lastName }}</span
              >
              <ng-container [ngSwitch]="person.gender.id">
                <ng-container *ngSwitchCase="0"
                  ><i class="bi bi-gender-male"></i
                ></ng-container>
                <ng-container *ngSwitchCase="1"
                  ><i class="bi bi-gender-female"></i
                ></ng-container>
                <ng-container *ngSwitchCase="2"
                  ><i class="bi bi-gender-ambiguous"></i
                ></ng-container>
                <ng-container *ngSwitchDefault></ng-container>
              </ng-container>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>
