@import "~bootstrap/scss/bootstrap";

$male-color: $blue;
$female-color: $pink;

.male {
  background-color: $male-color;
}

.female {
  background-color: $female-color;
}

.date-sign {
  font-weight: $font-weight-bold;
  font-size: $font-size-lg;
}

#person-display:hover #context-btn {
  color: $gray-600;
}

#context-btn {
  color: $light;
}
