<div id="person-display" class="d-inline-flex flex-row align-items-stretch bg-light rounded">
  <div class="p-2 d-inline-flex align-items-center {{person.gender === 0 ? 'male' : 'female'}} rounded-left text-white">
    <svg class="bi" width="32" height="32" fill="currentColor">
      <use xlink:href="assets/img/bootstrap-icons.svg#person"/>
    </svg>
  </div>
  <div class="pr-1 py-2 pl-2">
    <span>{{person.firstName}}</span><br>
    <span>{{person.lastName}}</span><br>
    <span><span class="date-sign">*</span> {{convertDate(person.birthDate)}}</span><br>
    <span *ngIf="person.deathDate !== null"><span class="date-sign">†</span> {{convertDate(person.deathDate!)}}</span>
  </div>
  <div class="pt-2 pr-2 d-inline-flex align-items-start">
    <div id="context-btn" class="btn btn-light d-inline-flex align-items-center" data-toggle="modal" data-target="#exampleModal" (click)="onOpenContextMenu()">
      <svg class="bi m-n1 mx-n2" width="20" height="20" fill="currentColor">
        <use xlink:href="assets/img/bootstrap-icons.svg#three-dots"/>
      </svg>
    </div>
  </div>
</div>
